@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.container {
  padding: 30px;
  background-color: #f0f0f0;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.home,
.Counter,
.products {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background-color: #000;
  color: #fff;
}

/* Navbar CSS */
.navbar {
  background-color: #ffffff;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  color: #000;
  cursor: pointer;
}

.nav-menu {
  background-color: #ffffff;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms ease-in-out;
  z-index: 1000;
}

.nav-menu.active {
  left: 0;
  transition: 450ms ease-in-out;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #151414;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-text a:hover {
  background-color: #000000;
  color: #fff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #ffffff;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 20px;
}

/* Scrolling Text CSS */
.scroll-text {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  height: 40px; /* Adjust height as needed */
  font-size: 1.5em; /* Adjust font size as needed */
  font-weight: bold; /* Makes text bold */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  background-color: #f8f8f8; /* Background for better visibility */
  padding: 10px 0; /* Padding for better text positioning */
}

.scroll-text a {
  background: linear-gradient(45deg, red, orange, green, blue, indigo, violet);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  animation: scrollBothWays 10s linear infinite;
}

/* Animation for center to left and then center to right */
@keyframes scrollBothWays {
  0% {
    transform: translateX(0); /* Start at the center */
  }
  25% {
    transform: translateX(-50%); /* Move to the left */
  }
  50% {
    transform: translateX(0); /* Back to the center */
  }
  75% {
    transform: translateX(50%); /* Move to the right */
  }
  100% {
    transform: translateX(0); /* Back to the center */
  }
}
